{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "react/display-name": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["vite.config.js"] }
    ]
  }
}