@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-Mono';
    src: url('./fonts/RobotoMono.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('./fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('./fonts/Kanit-Regular.ttf');
    font-weight: normal;
}

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
}

h1, h2 {
    font-family: "Kanit", sans-serif;
}

a {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}